/****************************************************************************
 *
 * Common
 *
 *****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
	margin-bottom: 1em;
	font-size: 180%;
}
h2 {
	margin-bottom: 1em;
	font-size: 140%;
}
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

blockquote {
	border-left: 4px solid #DDD;
	padding: 0 15px;
	color: #777;
	text-shadow: none;
}
blockquote p {
	margin-bottom: 10px;
}
.text-muted {
	color: #888;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.60em;
  margin-bottom: 30px;
}

.posts div.authored {
  color: #aaa;
}
.posts h2 {
	margin-bottom: 0.3em;
	line-height: 1.5em;
}
.posts h2 a {
	color: #888;
	text-decoration: none;
}
.posts h2 a:hover {
	color: #666;
	text-decoration: underline;
}
ul.homepage-post-list li h2 {
	font-size: 16px;
	float: left;
}
ul.homepage-post-list li div.authored {
	font-size: 12px;
	float: right;
	color: #999;
}
ul.homepage-post-list li p {
	margin: 5px 0px 5px 0px;
	clear: both;
}
ul.homepage-post-list li ul li {
	margin-left: 30px;
	margin-bottom: 5px;
}
ul.homepage-post-list li.post-list-item {
	padding-top: 30px;
	border-top: 1px solid #aaa;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  text-align: justify;
  width: 42em;
  margin: 1em auto 2em;
  line-height: 1.5em;
}
.site img {
	max-width: 41em;
	padding: 5px;
	border: 1px solid #bbb;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.30);
	-moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.30);
	box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.30);
	margin: 15px 0px 15px 0px;
}
.header {
  padding-top: 20px;
  margin-bottom: 2em;
}
.header strong.title {
  font-size: 200%;
  padding-top: 20px;
}
.header a {
  font-weight: bold;
  text-decoration: none;
}
.header a.addNew {
	float: right;
	opacity: 0;
	padding: 20px 0px 20px 200px;
}
.header a.addNew:hover {
	opacity: 1;
}

.title {
  display: inline-block;
  margin-bottom: 0em;
}

.title a {
  color: #2f587f !important;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .signup {
  width: 40%;
  float: left;
  margin-right: 3em;
}
.footer .signup input {
	width: 40%;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post p img {
	max-width: 300px;
}

/*****************************************************************************/
/*
/* Pagination
/*
/*****************************************************************************/

.pagination-wrapper {
	text-align: center;
	margin: 0px auto;
	margin-top: 20px;
}
.pagination {
	border-top: 1px solid #aaa;
	margin: 0px auto;
	font-size: 200%;
	padding: 40px;
}
.pagination * {
	padding: 0px 10px;
}
