---
layout: default
title: IT News
---

<div id="home">
  <ul class="posts homepage-post-list">
    {% for post in paginator.posts %}
    	<li class="post-list-item">
    		<h2>{{ post.title }}</h2>
      		<div class="authored">{{ post.date | date_to_string }} by {{ post.author }}</div>
      		<p>{{ post.content }}</p>
     	</li>
    {% endfor %}

    <!-- Pagination links -->
	<div class="pagination-wrapper">
		<div class="pagination">
		  {% if paginator.previous_page %}
		    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: ':9914', '' }}">&laquo; Prev</a>
		  {% else %}
		    <span class="previous">&laquo; Previous</span>
		  {% endif %}

		  {% for page in (1..paginator.total_pages) %}
		    {% if page == paginator.page %}
		      <span class="text-muted">{{ page }}</span>
		    {% elsif page == 1 %}
		      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' | replace: ':9914', '' }}">{{ page }}</a>
		    {% else %}
		      <a href="{{ site.paginate_path | replace: ':num', page | prepend: site.baseurl | replace: '//', '/' | replace: ':9914', '' }}">{{ page }}</a>
		    {% endif %}
		  {% endfor %}

		  {% if paginator.next_page %}
		    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | replace: ':9914', '' }}">Next &raquo;</a>
		  {% else %}
		    <span class="next ">Next &raquo;</span>
		  {% endif %}
		</div>
	</div>

  </ul>
</div>
